<%- include("header") -%>

<div class="box" id="heading">
    <h1><%= itemTitle %></h1>
</div>

<div class="box">
    
        <% newItem.forEach(function(todo) { %>
            <div class="item">   
                <input type="checkbox" class="check-box">
                <p><strong><%= todo.item %></strong></p>            
                
            </div>
        <% }); %>

    <form class="item" action="/" method="POST">
        <input id="todos" type="text" name="todos" maxLength="25" placeholder="Enter new ToDo" autocomplete="off" required>
        <button id="add" type="submit" name="listType" value=<%= itemTitle %> >+</button>
    </form>

</div>

<form action="/" method="get">
    <button method="post" id="clear" type="submit" name="buttonType" value="clearButton"><i class="fas fa-trash"></i></button>
</form>


<%- include("footer") -%>