<%- include("header") -%>

<div class="box" id="heading">
    <h1><%= itemTitle %></h1>
</div>

<div class="box">
    
    <% newItem.forEach(function(todo) { %>

        <form action="/delete" method="post">
        
            <div class="item">   
                <input type="checkbox" class="check-box" name="getId" value="<%= todo._id %>" onchange="this.form.submit()">
                <p><%= todo.item %></p>            
            </div>
            <input type="hidden" name="getTitle" value=<%= itemTitle %> ></input>
            
        </form>
    
    <% }); %>
    
    

    <form class="item" action="/" method="POST">
        <input id="todos" type="text" name="inputTodos" maxLength="25" placeholder="Enter new ToDo" autocomplete="off" required>
        <button id="add" type="submit" name="listHeading" value=<%= itemTitle %> >+</button>
    </form>

</div>

<%- include("footer") -%>