<%- include("header") -%>

<div class="box" id="heading">
    <h1><%= itemTitle %></h1>
</div>

<div class="box">
    

    <form action="/delete" method="post">
        
        <% newItem.forEach(function(todo) { %>
            <div class="item">   
                <input type="checkbox" class="check-box" name="check" value="<%= todo._id %>" onchange="this.form.submit()">
                <p><%= todo.item %></p>            
                
            </div>
        <% }); %>
    
    </form>

    <form class="item" action="/" method="POST">
        <input id="todos" type="text" name="inputsTodos" maxLength="25" placeholder="Enter new ToDo" autocomplete="off" required>
        <button id="add" type="submit" name="listType" value=<%= itemTitle %> >+</button>
    </form>

</div>

<%- include("footer") -%>